@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&family=Roboto:wght@400;500&display=swap'); 


*{
    margin: 0;
    padding: 0; 
}

nav {
    background-color: grey;
    color:black; 
    height:65px ;  
    font-size: 27px; 
    display: flex;
    align-items: center; 
    padding: 0 12px; 
    font-family: 'Roboto', sans-serif; 
}

nav ul {
    list-style: none; 
}
.gamecontainer{ 
  
    display: flex;
    justify-content: center; 
    margin-top: 50px;
}
.container{
   display: grid;
   grid-template-columns: repeat(3,10vw);  
   grid-template-rows: repeat(3,10vw);  
   font-family: 'Roboto', sans-serif;  
 
}
.box{
    border: 3px solid black;  
    font-size: 8vw;
    display: flex; 
    justify-content: center;
    align-items: center; 
    cursor: pointer; 

    
}
.box:hover{
    background-color: rgb(217,180,252); 
}
.gameinfo{
    padding: 0 34px; 
    font-family: 'Baloo Bhaina 2', cursive; 
}
.br-0{
    border-right: 0;
}
.bl-0{
    border-left: 0; 
}
.bt-0{ 
    border-top: 0;
}
.bb-0{
    border-bottom: 0;
}
.imgbox img{ 
  width:0; 
  
  transition: width 1s ease-in-out;  

}
.info{
    font-size: 25px; 
    
}
#reset{
    margin: 0px 24px;
    padding: 7px 14px;
    background-color: #e5c7e5;  
   border-radius: 6px;
   cursor: pointer;
   font-family: 'Baloo Bhaina 2', cursive; 
   font-weight: bolder; 
   text-transform: uppercase; 
}
@media screen  and (max-width:780px)
{
    .gamecontainer{
        flex-wrap: wrap; 
    }
    .gameinfo{
        margin-top: 32px; 
    }
    .gameinfo h1{
        font-size: 1.5rem; 
    }
    .container{
        grid-template-rows: repeat(3,18vw);
        grid-template-columns: repeat(3,18vw); 
    }
}

/* @media screen  and (max-width:399px)
{
    .gamecontainer{
        flex-wrap: wrap;  
    }
    .gameinfo{ 
        margin-top: 32px; 
    }
    .gameinfo h1{
        font-size: 1.3rem; 
    }
    .container{
        grid-template-rows: repeat(3,14vw);
        grid-template-columns: repeat(3,14vw); 
    }
} */





  

